/.quarto/
DS_Store
.Rhistory
/.luarc.json
/.quarto/
/*_files
/*_cache
/_freeze
_extensions/
/.joblib
/_extensions/
_environment
/.micromamba/
published-202301-boulin-clayton.html
published-202301-boulin-clayton.pdf
